@{
    ViewData["Title"] = "Bem-vindo ao News Manager";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bem-vindo ao News Manager</h1>
    <p>Gerencie suas notícias de forma rápida e simples!</p>

    <a asp-controller="News" asp-action="Index" class="btn btn-primary btn-lg mt-3">
        Ver notícias
    </a>

    <a asp-controller="News" asp-action="Create" class="btn btn-outline-secondary btn-lg mt-3 ms-2">
        Adicionar nova notícia
    </a>
</div>
